body{
    padding:0;
    margin: 0 auto;
}

/* NAVIGATION PART */
.navigation{
    font-family: "Oswald", sans-serif;
    font-size:15px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    
    background-color: #ddecdd;
    gap:10px;
    margin:0 auto 0 0;
padding-right:30px;
padding-left:30px;
  margin-bottom: -50px; 
  margin-top: -30px; 
    
}
.titlediv{


text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 900;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
   box-sizing: border-box;
 padding-bottom: 29px;
    
   
}
.seconddivnav{
    text-align: center;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-bottom: 33px;
 max-width: 550px;
    width:90%;
  
   

   
}
.titleni{
    display:inline-block;
    margin-right: 30px;
  
}
.lista{
    
    display:inline-block;
    text-decoration: none;
 margin-left:5px;
 margin-right:5px;
    font-weight: 700;
 font-size: 20px;
}
.lista2{
       display:inline-block;
    text-decoration: none;
 margin-left:5px;
 margin-right:5px;
    font-weight: 700;
 font-size: 18px;
}



.pages-select {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #8ac926;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    padding-right: 15px;
}

.pages-select option {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    color:black;
}

.dropdown {
    position: relative;

    
}

.dropdown::after {
    content: '\25BC'; 
    font-size: 10px;
    color: #8ac926;
    position: absolute;
    right: 5px; 
    top: 50%;
    transform: translateY(-50%);

}

.fa-plane{
   margin-left: 5px;
   margin-right: 5px;
    transform: rotate(230deg); 
}


.fa-phone, .fa-envelop{
    color:black;
}

.icons{

    font-size: 15px;
     color: black;
  
   
}
.fa-facebook-f, .fa-instagram, .fa-x-twitter{
    margin-left:5px;
     margin-right:5px;
    font-size: 15px;
}
/* FIRST SECTION */
.firstsection{
   
    padding-bottom: 120px;
    padding-top:50px;
    background-image:url("images/secondback.png");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
.innerfirst{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin:0 auto;
}
.about{
 margin:0;
    font-weight: 500;
    font-size: 15px;
    color:white;
      font-family: "Montserrat", sans-serif;
}
.trusted{
    text-align: center;
    letter-spacing: 1px;
    font-weight: 700;
    color: white;
    font-size: 80px;
    font-family: "Oswald", sans-serif;
 margin:0;
    

}
.descrip{
      font-family: "Montserrat", sans-serif;
      color:white;
    margin:0;
    
}

/* SECOND SECTION */
.secondsection{

    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
    margin: 70px auto;
    max-width:1400px;


}
.outerpara{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    max-width:900px;
    
  
   
}
.seimage{
    max-width: 300px;
 height:500px;


}
.tent{
    width:100%;
     height:500px;
    object-fit: cover;
}
.upper{
 display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    box-sizing: border-box;
   width:50%;
 margin-left:40px;

   

}
.nextour{
 font-family: "Oswald", sans-serif;
 font-size: 12px;
display:flex;
align-items: flex-end;
position:relative;
top:40px;
width:40%;
  color:#3d4b23 ;

}
.thisis{
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.5px;
    margin-left: 100px;
      color:#3d4b23 ;
}
.lowerpara{

  width:100%;

    display: flex;
    align-items: flex-end;

}

.fa-location-dot{
    margin:5px;
}
.weteam{
    color:rgb(29, 31, 20);
    font-size: 48px;
    font-weight: 700;
 font-family: "Oswald", sans-serif;
}
/* THIRD SECTION */
.thirdsection{


    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
 
flex-wrap: wrap;
padding:30px;
margin: 0 auto;
    background-color: rgb(223, 227, 202);
}
.outerthird{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap:15px;

    min-width: 400px;
    width:400px;

   

}
.free{
    font-weight: 800;
     font-family: "Oswald", sans-serif;
     font-size: 18px;
     margin-top:70px;
     color:#252e15 ;
}
.lowerfree{
font-family: "Funnel Display", sans-serif;
    color:#252e15 ;
     font-size: 13px;
}
.picthird{
    color:#85a15a;
      
      font-size: 40px;

}
/* FOURTH SECTION */
.fourthsection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
   margin: 0 auto;
   padding:0;

   
}
.innerfourth{
display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
     flex-wrap: wrap;




}
.pic{
height:400px;
flex:1;

 object-fit: cover;

}
.picture{
 min-height: 400px;
    max-width:100%;
min-width: 350px;
   
    object-fit: cover;
   

}

/* FIFTH SECTION */
.fifthsection{

    display: flex;
    align-items: stretch;
    justify-content:space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  padding-top:50px;
   
    background-color: rgb(223, 227, 202);
}
.contactsnisha{

display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}
.wardplane, .ward, .wardcontact, .wardsocial{

     list-style-type: none;
     margin:20px;
}
.wardplane{
        font-family: "Oswald", sans-serif;
        font-weight: 800;
        font-size: 20px;

}
.wardcontact{
    font-family: "Oswald", sans-serif;
        font-weight: 800;
        font-size: 18px;
     
}
.fa-phone, .fa-envelope{
    margin:10px;
}
.ward{
        font-family: "Quicksand", sans-serif;
        font-size: 13px;
}
.wardsocial{
    font-size: 20px;
}
.about{
    display: flex;
    align-items: stretch;
    justify-content: center;

    flex-wrap: wrap;
    flex-direction: row;
    padding:10px;

    margin:20px;
}
.menu{
   margin:20px;
  max-width:300px;
  min-width:100px;

   

}
.input{
   color: rgb(108, 133, 11);
   font-size: 12px;
           font-family: "Quicksand", sans-serif;
           font-weight: 700;
}
.menu li{
    list-style-type: none;
}
.picks{
    list-style-type: none;
       font-size: 12px;
           font-family: "Quicksand", sans-serif;
           color:black;
           margin:8px;
           font-weight: 600;
}
.sixthsection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
       
    background-color: rgb(223, 227, 202);
}
hr{
    width:90%;
border-style: solid;
border-color: gray;
}
.lastone{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;

    width:90%;
    
}
.second{
       font-family: "Quicksand", sans-serif;
      font-size: 18px;
      font-weight: 800;
}

.third, .fa-location-dot{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
      font-family: "Quicksand", sans-serif;
      font-size: 12px;
      font-weight: 500;
}
.third p {
    margin:5px;
}



